@import '../../../themes';

@include nb-install-component() {

  .control-buttons {
    display: flex;
    margin: 0 -0.5rem;
  }

  .circle-icon {
    border-radius: 50%;
    background: white;
    margin-right: 0.5rem;
    height: 1em;
    width: 1em;

    &.glow {
      animation: record-glow 1s infinite alternate;
    }
  }

  @keyframes record-glow {
    from {
      background: nb-theme(color-danger-500);
    }

    to {
      background: nb-theme(color-danger-700);
    }
  }

  .control-button {
    margin: 0 0.25rem;
    padding: 0.5rem 0.25rem;
  }

  [nbbutton].button-play.status-primary,
  [nbbutton].button-delete.status-primary {
    color: black;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    &:hover {
      color: #696969;
    }
  }

  .button-play {
    margin-left: auto;

    ::ng-deep nb-icon {
      font-size: 1.75rem;
    }
  }
}
