@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
  list-item-divider-color: #E4E9F2,
  footer-padding: 0.75rem,
  header-padding: 0.5rem 0.75rem,
  header-height: 40px,
  layout-padding: 0.75rem,
  button-filled-medium-padding: 0.5rem,
  color-danger-100: #fee5d3,
  color-danger-200: #fdc5a8,
  color-danger-300: #fb9d7d,
  color-danger-400: #f7775c,
  color-danger-500: #f33b28,
  color-danger-600: #d0201d,
  color-danger-700: #ae131e,
  color-danger-800: #8c0c20,
  color-danger-900: #740820,
), default, default);
